<div class="sidebar">
  <div class="logo-details">
    <i class="bx bxs-pyramid fa-solid fa-dragon"></i>

    <span class="logo_name">Genesis</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="#">
        <i class="fa-solid fa-house"></i>
        <span class="link_name">Home</span>
      </a>

    </li>
    <li>
      <div class="icon-link">
        <a href="#">
          <i class='bx bx-collection fa-solid fa-circle-info'></i>
          <span class="link_name">Features</span>
        </a>

        <i class="fa-solid fa-caret-down arrow"></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Features</a></li>
        <li><a href="#">HTML & CSS</a></li>
        <li><a href="#">JavaScript</a></li>
        <li><a href="#">PHP & MySQL</a></li>
      </ul>
    </li>
    <li>
      <div class="icon-link">
        <a href="#">
          <i class='bx bx-book-alt'></i>
          <span class="link_name">Tops</span>
        </a>
        <i class="fa-solid fa-caret-down arrow"></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">TOPS</a></li>
        <li><a href="#">TOP CLAN</a></li>
        <li><a href="#">TOP PVP</a></li>
        <li><a href="#">TOP PK</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-pie-chart-alt-2'></i>
        <span class="link_name">Vote</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Vote</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-line-chart'></i>
        <span class="link_name">Community</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Community</a></li>
      </ul>
    </li>
    <li>
      <div class="icon-link">
        <a href="#">
          <i class='bx bx-plug'></i>
          <span class="link_name">Gallery</span>
        </a>
        <i class="fa-solid fa-caret-down arrow"></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Gallery</a></li>
        <li><a href="#">PVP</a></li>
        <li><a href="#">ASEDIOS</a></li>
        <li><a href="#"></a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-compass'></i>
        <span class="link_name">Streamers</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Streamers</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-history'></i>
        <span class="link_name">Path Notes</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Path Notes</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
       &nbsp; <i class="fa-solid fa-user-plus bx bx-cog"></i>
        <span class="link_name">Sing Up</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Sing Up</a></li>
      </ul>
    </li>
    <li>
      <a href="#">
        <i class="fa-solid fa-user bx bx-cog"></i>
        <span class="link_name">Log In</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Log In</a></li>
      </ul>
    </li>
  </ul>
</div>
<section class="home-section">
  <div class="home-content">
    <i class="fa-solid fa-bars bx bx-menu"></i>
    <span class="text"></span>
    <hr>
  </div>
  <div class="container">
    <router-outlet></router-outlet>

  </div>
</section>
